<div class="flex w-full flex-col items-center">
  <h1 class="text-3xl text-center mb-8">Welcome to Kittens Memory Card Game</h1>

  <%= link_to "Start new game", new_game_path, class: "bg-emerald-600 hover:bg-emerald-400 animate-pulse text-white font-bold py-2 px-4 rounded" %>
</div>
